<!--СОЗДАНИЕ ОБРАЩЕНИЯ-->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css"/>
    <title>Создать обращение</title>
</head>
<body>
      <div class="background"><!--определяет размер нашей области-->
        <div class="TopTextBlock ">
          <div class="TextContainer">
            <p class="Text">Создание обращения</p>
          </div>
        </div>
        <div class="TextBlock2">
          <div class="vertical-menu-container">
            <a href="/create_request/Проблема с принтером">
            <div class="Shadow">
              <div class="container">
                <img src="static/iconsObr/free-icon-printer-3233446.png" class="icon">
                <p class="create-issue-button-style">Проблема с принтером</p>
              </div>
            </div>
            </a>
            <a href="/create_request/Не работает принтер">
           <div class="Shadow">
              <div class="container">
                <img src="static/iconsObr/free-icon-printer-3233446.png" class="icon"/>
                <p class="create-issue-button-style">Не работает принтер</p>
              </div>
            </div>
            </a>
            <a href="/create_request/Не включается компьютер">
            <div class="Shadow">
              <div class="container">
                <img src="static/iconsObr/free-icon-computer-1865273.png" class="icon"/>
                <p class="create-issue-button-style">Не включается компьютер</p>
              </div>
            </div>
            </a>
            <a href="/create_request/Не подключается VPN">
            <div class="Shadow">
              <div class="container">
                <img src="static/iconsObr/free-icon-vpn-5175160.png" class="icon" />
                <p class="create-issue-button-style">Не подключается VPN</p>
              </div>
            </div>
            </a>
            <a href="/">
            <div class="Shadow">
              <div class="container">
                <img src="static/iconsObr/free-icon-turn-back-4286274.png" class="icon">
                <p class="create-issue-button-style">Вернуться в главное меню</p>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
</body>