<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css"/>
    <title>Создать обращение</title>
</head>
<body>
    <div class="background"><!--определяет размер нашей области-->
        <div class="TopTextBlock ">
          <div class="TextContainer">
            <p class="Text">Обратная связь</p>
          </div>
        </div>
        <div class="TextBlock2">
          <div class="vertical-menu-container">
            <div class="Shadow">
              <div class="container">
                <img src="#" class="icon">
               <p class="create-issue-button-style">Пожелания по развитию бота</p>
              </div>
            </div>
            <div class="Shadow">
              <div class="container">
                <img src="static/iconsObr/free-icon-printer-3233446.png" class="icon"/>
                <p class="create-issue-button-style">Обратная связь руководству</p>
              </div>
            </div>
            <a href="/">
            <div class="Shadow">
              <div class="container">
                <img src="#" class="icon">
                <p class="create-issue-button-style">Вернуться в главное меню</p>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
</body>