<!--ВРЕМЯ СРОЧНОСТИ-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Выберите срочность</title>
</head>

<body>
      <div class="background"> <!--определяет размер нашей области-->
        <div class="TopTextBlock ">
          <div class="TextContainer">
            <p class="Text">Выберите срочность</p>
            </div>
             </div>

                <div class="vertical-menu-container">
                     <a href="static/iconsObr/#">
                         <div class="Shadow">
                            <div class="container">
                               <img src="#" class="icon">
                                <p class="create-issue-button-style">СРОЧНАЯ ПРОБЛЕМА</p>
                             </div>
                            </div>
                             </a>
                      </div>

          <div class="TextBlock2">
              <a href="/">
                  <div class="Shadow">
                     <div class="container">
                        <img src="static/iconsObr/#" class="icon">
                        <p class="create-issue-button-style">Может подождать решения определеный срок</p>
                     </div>
                  </div>
            </a>
          </div>
      </div>
</body>